/* start global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    /*  -webkit-box-sizing, -moz-box-sizing, box-sizing يضبط ال margin و  padding الموجودة تلقائيا في الصفحة*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    line-height: 1.5;
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: sans-serif;
    /* margin-top: 40px; */
    margin: 40px 0 0 0;
}

.container {
    width: 1200px;
    width: 95%;
    max-width: 1024px;
    margin: 29px auto;
}

/* end global */


.regform {
    margin-top: 40px;
    width: 800px;
    background-color: rgb(0,0,0,6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}