/* start global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    /*  -webkit-box-sizing, -moz-box-sizing, box-sizing يضبط ال margin و  padding الموجودة تلقائيا في الصفحة*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    /* font-family: apple chancery, cursive; */
    line-height: 1.5;
    font-family: Peddana;
    font-weight: bold;
    /* font-size: 19px; */
    /* color: #4bddfb; */
    /* color: #b9eaf5; */
    color: #eee;
    width: 100%;
    height: 625px;

    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/programming-code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 83%;
    max-width: 1024px;
    margin: 29px auto;

}

/* end global */




/* start framework */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li, button, a, .submit {
    cursor: pointer; /* يجعل الماوس على شكل يد عند الوقوف عن شئ معين */
}

.my-button {
    background: none;
    padding: 10px 30px;
    font-weight: bold;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}
/* start framework */




/* strat heading style */
P {
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 1.7;
    font-weight: bold;
}

h2 {
    text-transform: uppercase; /*يجعل النص كبير*/
    font-size: 30px;
} 

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}
/* strat heading style */


/* start header */
/* header {

} */

header .row {
    display: flex;
    justify-content: space-between;
}

header .logo {
    font-size: 21px;
    margin-top: -5px;
}

header .logo span{
    font-size: 27px;
    color: #0b8cc3;
}

header nav ul {
    display: flex;
    grid-gap: 2ch
}

header nav ul li {  
    width: auto;
    height: auto;
}

header nav ul li a {
    /* color: #4bddfb; */
    /* color: #b9eaf5; */
    color: #eee;
    /* margin-right: 20px; */
    transition: 0.6s ease;
    text-decoration: none;
    /* padding: 5px 20px; */
}

header nav ul li a.active {
    color: #0b8cc3;
    /* font-size: 20px; */
}
header nav ul li a:hover {
   /* background-color: #78f2fc; */
   color: #0b8cc3;
    font-size: 20px;
    /* border: 1px solid #78f2fc;
    border-radius: 0 10px 0 10px;
    padding: 10px 1px */
}
/* end header */



/* start about me  */

.about .about-me {
    margin-top: -30px;
}

.about .about-me .row{
    margin: 29px;
    line-height: 1.9;
}

.about .about-me h3{
    /* margin: 59px; */
    /* position: absolute;
    top: 21%;
    /* left: 19%; 
    left: 10%; */
    margin: 0 0 20px 0;
}

.about .about-me h2{
    /* margin: 55px;
    margin-bottom: 10px; */
    /* line-height: 1.9; */
    /* position: absolute;
    top: 29%;
    /* left: 20%;
    left: 11%; */
    margin: 20px 0 20px 9px;
    font-size: 21px;
}

.about .about-me h4 {
    margin: 20px 0 20px 0;
}

.about .about-me p {
    line-height: 1.9;
    font-size: 17px;
    max-width: 54%;
}

.about .my-projects {
    margin: 41px 0 20px 0;
    padding: 10px;
    background-color: #0b8cc3;
    width: 15%;
    border-radius: 18px;
}

.about .my-projects a {
    text-decoration: none;
    font-size: 25px;
    color: #b9eaf5;
}



/* start content */

.content {
    margin-top: -58px;
}

.content ul{
    display: flex;
    grid-gap: 14px;
    justify-content: center;
}



/* start footer */
footer {
    position: absolute;
    bottom: 10px;
    left: 79px;
}
footer .copy {
    display: flex;
    align-items: center;
    grid-gap: 9px;
}





