/* عدد الاسطر 702 */
/* عدد الاسطر 645 */

/* start main rulez */

.container
{
  width: 1170px;
  margin: auto;
}
.clearfix
{
    clear: both;
}
/* end main rulez */





/* start my framework */

.my-button
{
    background: none;
    /* border: 3px solid #f00; */
    border: 3px solid #6a0000;
    color: #6a0000;
    padding: 10px 30px;
    /* color: #f00; */
    
    font-weight: bold;
}

li, button, a, .submit
{
    cursor: pointer; /* يجعل الماوس على شكل يد عند الوقوف عن شئ معين*/
}

.fl-left /* float left*/
{
    float: left;
}

P
{
    color: #555;
    line-height: 1.7;
    font-weight: bold;
}

h2 
{
    /* color: #444; */
    /* color: #ff0000; */
    /* color: #6a0000; */
    /* color: #aa0f0f; */
    color: #f00;
    text-transform: uppercase; /*يجعل النص كبير*/
    font-size: 30px;
}

h3
{
    color: #444;
}

.center
{
    text-align: center;
}
/* end my framework */





/* start header */
.header .slider
{
    background-color: #eee;
    height: 500px;
    /* background-image: url('../images/Heart1200x500.jpg');
  */
  /* background-image: url('../images/medical-symbols.jpg'); */
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/image-11-2302426.jpg');
    background-size: cover;
    -webkit-background-size: cover; /*css3*/
    -moz-background-size: cover; /*css3*/
    -o-background-size: cover; /*css3*/
}

.header .slider .intro
{
    padding-top: 241px;
    height: 500px;
    color: #fff;
}

.header .slider .intro h1
{
    margin: 0 auto;
    /* font-size: 43px; */
    font-size: 69px;
   /*width: 640px;*/
     width: 831px;
    /* border-top: 4px solid black;
    border-bottom: 4px solid black;
    color: black; */

    border-top: 4px solid white;
    border-bottom: 4px solid white;
    color: white;

    padding: 5px 0;
    margin-top: -63px;

}

.header .slider .intro button
{
    background: none;
    margin-top: 30px;
    font-size: 23px;
    color: white;
    border: 3px solid white;
    font-weight: bold;
    padding: 10px 30px;

    /* border: 3px solid #aa0f0f;
    color: #aa0f0f; */

    /* border: 3px solid #f00;
    color: #f00; */
}

.header .navbar
{
    background-color: black;
    color: #fff;
    overflow: hidden;
}

.header .navbar h2
{
    color: #fff;
    /* display: inline-block; */
}

.header .navbar h2 span
{
    color: #f00;
}

.header .navbar img
{
    width: 55px;
    margin-top: 14px;
    margin-left: 5px;
}

.header .navbar ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header .navbar ul li
{
    float: left;
    padding: 10px;
}

.header .navbar ul li a
{
    color:#fff;
    text-decoration: none;
}

.header .navbar ul li.active a,
.header .navbar ul li a:hover
{
  color: #f00;
  /* color: #aa0f0f; */
}
/* end header */





/* start features */
.features
{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px;
}

.features .feat
{

    width: 33.33333%;
    height: 150px;
    margin-left: 117px;
    text-align: center;
}
/* end features */





/* start about me */
.about-me
{
    /* background-color:#d0cfcf; */
    overflow: hidden;
}

.about-me .image
{
    /* width: 40%; */
    width: 100%;
}

.about-me .image h2
{
    /* margin: 30px 0 20px 40px; */
    margin: 35px 0 -17px 512px;
}

.about-me .image img
{
    width: 100%;
    /* height: 407px; */
    margin-top: 41px;
    border-radius: 93px;
    background-color: #e4e4e4;
border: 4px solid #ccc;
}

.about-me .info
{
    /* width: 60%; */
    width: 100%;
    text-align: center;
}

.about-me .info > p
{
    margin: 0 0 10px 40px; 
}

.about-me .info > p:last-of-type
{
    margin-top: 25px;
    margin-left: -8px;
}

.about-me .info .hobbies
{
    overflow: hidden;
    margin: 15px 0 0 40px;
}

.about-me .info .hobbies .content
{
    width: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.about-me .info .hobbies .content .icon
{
  width: 12%;
  margin-right: 5%;
}
.about-me .info .hobbies .content .image
{
    /* width: 24px; */
    width: 37px;
}

.about-me .info .hobbies .content .icon img
{
 max-width: 100%;
 margin: 20px 10px 0 0;
}

.about-me .info .hobbies .content .text
{
    width: 83%;
}

.about-me .info .hobbies .content .text p
{
  margin-top: 0;
}

.about-me .info .hobbies .content .text h3
{
    margin-bottom: 5px;
}
/* end about me */






/* start my skills */
.my-skills
{
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.my-skills .skills,
.my-skills .progress
{
    width: 50%;
}

.my-skills .skills h2
{
    margin: 30px 0 20px 40px;
}

.my-skills .skills p
{
    margin: 0 0 10px 40px; 
}

.my-skills .skills p:last-of-type
{
    margin-top: 25px;
}

.my-skills .skills button
{
    margin-top: 20px;
    margin-left: 40px;
}

.my-skills .progress .technique
{
    margin-left: 50px;
}

.my-skills .progress .technique div
{
    background-color: #c8c6c6;
    height: 25px;
}

.my-skills .progress .technique div span
{
    background-color: #f00;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #fff;
    font-weight: bold;
}   
/* end my skills */





/* start resume */
.resume
{
    background-color: #d0cfcf;
    padding-top: 50px;
    padding-bottom: 70px;
}

.resume h2
{
  font-weight: bold;
}

.resume p
{
    padding: 0 40px;
}

.resume button
{
    margin-top: 20px;
}
/* end resume */





/* start my education */
.my-education
{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-education hr
{
    margin: 20px 0;
    background-color:#999;
    height: 1px;
    border: 0;
}

.my-education .main
{
    width: 50%;
    margin-right: 5%;
}

.my-education .main h2
{
    margin: 30px 0 20px 40px;
}

.my-education .main p
{
    margin: 0 0 10px 40px; 
}

.my-education .main p:last-of-type
{
    margin-top: 25px;
}

.my-education .exp
{
    width: 45%;
}

.my-education .exp h3
{
    text-transform: uppercase;
   margin-top: 78px;
   margin-bottom: 10px;
}

.my-education .exp span
{
    /* margin: 0 0 10px 40px; 
    color: #444;
    line-height: 1.6; */
    display: block;
    margin-bottom: 10px; 

}
.my-education .exp span:first-of-type
{
    color: #7b7979;
}

.my-education .exp span:last-of-type
{
    background-color: #f00;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
}

.my-education .exp hr
{
    margin: 20px 0;
    background-color:#999;
    height: 1px;
    border: 0;
}
/* end my education */




/* start testimonials */
.testimonials
{
    /* background-color: #d0cfcf; */
    background-color: #6a0000;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-bottom: 73px; */
    margin-bottom: 100px;
    margin-top: 73px;
}

.testimonials q
{
    /* color: #777; */
    /* color: #a6a8aa; */
    
    color: #c7c9cb;
    margin-left: 40px;
    margin-top: 34px;
    font-weight: bold;
    font-size: 17px;
    color: #c7c9cb;
    /* font-size: 16px;
    font-style: italic;
    font-weight: bold;
    font-family: Tahoma, Arial; */

  /* font: italic bold 16px/1.8 Ariat, Tahoma; */
}
.testimonials h3{
    color: #eee;
}

.testimonials ul
{
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

.testimonials ul li
{
    height: 7px;
    border-radius: 100%;
    margin: 2px;
    width: 7px;
    display: inline-block;
    border: 2px solid #f00;
    cursor: pointer;/* يجعل الماوس على شكل يد عند الوقوف عن شئ معين*/
}
.testimonials ul li.active
{
    background-color: #f00;
}

.testimonials ul li:hover
{
    background-color: #f00;
}
/* end testimonials */





/* start portfolio */
.portfolio
{
    /* padding-top: 50px; */
    padding-bottom: 70px;
}

.portfolio p
{
    margin-bottom: 30px;
}

.portfolio .our-work
{
    overflow: hidden;
}

.portfolio .our-work > div
{
    float: left;
    width: 33.33333%;
    margin-bottom: 10px;
}

.portfolio .our-work > div img
{
    width: 89%;
    height: 236px;
    margin: 10px;
    padding: 3px;
    background-color: #e4e4e4;
    border: 2px solid #ccc;
}

.portfolio .our-work > div img:hover{
    box-shadow: blue;
}
/* end portfolio */





/* start doctors */
.doctors
{
    margin-bottom: 73px;
    /* position: absolute; */
    width: 100%;
    height: 100%;
}
.doctors h2
{
 text-align: center;
 margin-bottom: 50px;
}

.doctors .card-wrapper{
    display: inline-block;
    text-align: center;
    width: 289px;
    
    /* width: calc(25% - 20%); */
    /* min-height: 350px; */
    
    /* float: left; */
    /* display: grid; */
    /* place-items: center; */
    /* grid-column: 4; */
    /* padding: 10px; */
    /* margin: 10px; */
}

.doctors .card-wrapper .card .img-box{
width: 100px;
height: 100px;
text-align: center;
margin-left: 89px;
margin-bottom: 45px;
}

.doctors .card-wrapper .card .img-box img
{
    /* width: 124px; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #c5c5c5;
    padding: 6px;
}

 .doctors .card-wrapper .card h2
{
  /*  margin-left: 42px;*/
    font-size: 23px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: -8px;
} 

.doctors .card-wrapper .card h3
{
    margin-bottom: -8px; 
}

/* .doctors .card-wrapper .card ul
{
    list-style: none;
    padding-left: 0;
    margin: 0;
    float: right;
    margin-top: 6px;
} */

.doctors .card-wrapper .card .informations ul{
    margin-left: -50px;
    margin-top: -10px;
}

.doctors .card-wrapper .card .informations ul li
{
    display: inline-block;
}    

.doctors .card-wrapper .card .informations ul li img 
{
    
    border-radius: 100%;
    /* background-color: darkgrey; */
    width: 25px;
    height: 25px;
    margin: 1px;
    padding: 5px;
}
/* start doctors */





/* start contact me */
.contact
{
    /* background-color: #252f31; */
   /* background-color: #6a0000; */
   background-color: #6a0000;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact .info
{
    width: 50%;
    margin-right: 5%;
}

.contact .info h2
{
    color: #eee;
    margin-left: 40px;
}

.contact .info p
{
    /* color: #6a6e71; */
    /* color: #a6a8aa; */
    color: #c7c9cb;
    margin-left: 40px;
    /* margin-top: 34px; */
    margin-top: 50px;
    font-weight: bold;
    font-size: 17px;
}

.contact .info p strong
{
 color: #d1d6da;
 /* margin-right: 46px; */
 margin-right: 30px;
}

.contact .info .apps {
    margin-top: 60px;
}
.contact .info .apps ul li{
    list-style-type: none;
    display: inline;
    /* width: 156px;
    border-radius: 26%; */
    
}

.contact .form
{
    width: 45%;
}

.contact .form label
{
    display: block;
    color: #d1d6da;
    font-weight: bold;
    margin: 10px 0;
}

.contact .form input[type="text"]
{
 /* background-color: #4b5557; */
 background-color: #8f1818;
 color: #fff;
 padding: 10px;
 border: 0;
 width: 75%;
 margin-bottom: 10px;
}

.contact .form textarea
{
 /* background-color: #4b5557; */
 background-color: #8f1818;
 color: #fff;
 padding: 10px;
 border: 0;
 width: 75%;
 margin-bottom: 10px;
 height: 240px;
}

.contact .form input[type="submit"]
{
    background-color: #1b1a1a;
    color: #d1d6da;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 5px;
}

.contact .info .apps ul li img{
    width: 21%;
    border-radius: 26%;
    border: 1px solid black;
    margin-bottom: 5px;
} 

.contact .info .apps ul li .apple{
    height: 31px;
    margin-left: 5px;
}
/* end contact me */





/* start footer */
.footer
{
    /* background-color: #191e22; */
    /* background-color: #252f31; */
   /* color: #6a6e71; */
   color: #ffffff;
   background-color: #444444;
   padding: 20px 0;
   overflow: hidden;
}

.footer .copy-right{
    margin-left: 432px;
}
.footer .copy-right img{
    width: 26px;
    margin-top: 14px;
    margin-left: 5px;
    display: inline-block;
}

.footer span
{
    margin-top: 14px;
    font-weight: bold;
    font-size: 17px;
    margin-left: -28px;
}
 
.footer ul
{
    list-style: none;
    padding-left: 0;
    margin: 0;
    float: right;
    margin-top: 6px;
}

 .footer ul li
{
    display: inline-block;
    /* border-radius: 100%;
    background-color: darkgrey;
    width: 34px;
    height: 31px; */
} 

.footer ul li img 
{
    
    border-radius: 100%;
    background-color: darkgrey;
    width: 25px;
    height: 25px;
    margin: 1px;
    padding: 5px;
}

/* .footer ul li i
{
 font-family: "font-awesome";
 font-weight: 900;
} */

.footer ul li a:hover
{
    color: #f00;
}
/* end footer */