* {
			margin: 0;
			padding: 0;
			text-decoration: none;
			list-style-type: none;
		}
		
		
			.row {
  margin-bottom:30px;
				
}

.col {
/*   background: green; */
/*   color: white; */
/*  width: fit-content;*/
/*   padding: 10px; */
/*   margin:1rem; */
/*   display: inline-block; */
  border: 5px solid black;
  font-size: 25px;
  font-weight: bold;
	text-align: center
  flex: 1 0 0%
}

.fixed-parent {
	position: relative;
	margin: 10px;
	margin-bottom: 20%;
}
.fixed-child {
	width: 97.8%;
	margin: 0 5px 30px 5px;
	padding: 5px;
	position: fixed;
	top:0;
}

/*
.text {
	margin-top: 20px;
}
*/




